@media screen and (max-width:600px) {
    body {
        padding: 22px;
        margin: 20px;
        padding-left: 0px;
    }
    .nav-title{
        font-size: 24px;
    }
    #hiden{
        display: none;
    }
    .menu-icon {
        display: block; /* Show the menu icon on smaller screens */
    }
    .tours-section ,
    .top-img ,
    .middle-img ,
    .last-img,
    .get-container,
    .news-container {
        flex-direction: column;
    }
    .tours-title ,.des-title{
        margin-top: 10px;
        font-size: 32px;
    }
    .nav-bar ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner {
        background-size: 100% 100%;
    }

    .banner-title {
        font-size: 30px;
    }
    .news-pic{
        width: 100%;
    }
    .our-tour-pic{
        width: 100%;
    }
    .left-content{
        width: 100%;
    }
    .subscribe-btn{
        width: 100%;
    }
    .iframe{
        width: 100%;
    }
    .input-area {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        margin: 0 auto;
    }
    .input{
        padding: 10px;
        margin: 0 auto;
        width: 100%;
    }
    .input input[type="text"] {
        background-color: red;
        padding: 20px;
    }
    .find-btn{
        width: 100%;
    }
    #where-go{
        width: 90%;
    }
    .select-location {
        display: flex;
        width: 280px;
        padding: 16px;
        margin: 0 auto;
        flex-direction: column;
        gap: 16px;
    }
    .top-img ,.middle-img ,.last-img{
        gap: 0px;
    }

    /* styles card section */

    .card {
        margin-top: 10px;
        width: 90%;
    }
    .top-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .item3 {
        position: relative;
        left: 0;
    }

    /* Start a get lost section */

 
/* Start Travel Card section */

.travel-card-part{
    flex-direction: column;

}
.travel-card{
    width: 100%;
}

    /* start News section */

    .news-img-btn{
        width: 200px;
        height: 60px;
    }
    .travel-site{
        font-size: 16px;
    }
    .save-up{
        font-size: 22px;
    }
    .deals-banner-one{
        height: 80vh;
    }
    .deals-card{
        left: 5%;
        top: 10%;
        height: 400px;
        width: 250px;
    }
    .deals-card-two{
        left: 5%;
        top: 10%;
        height: 400px;
        width: 250px;
    }
    .get-title{
        font-size: 30px;
        line-height: normal;
    }
    .font-small{
        font-size: 10px;
    }
    .text-card{
        margin: 0px;
    }
    .head-card{
        margin: 0px;
    }

}