@media screen and (max-width:600px) {
    body {
        padding: 20px;
        margin: 20px;
    }
    #hiden{
        display: none;
    }
    .menu-icon {
        display: block; /* Show the menu icon on smaller screens */
    }
    .tours-section ,
    .top-img ,
    .middle-img ,
    .last-img,
    .get-container,
    .news-container {
        flex-direction: column;
    }
    .nav-bar ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner {
        background-size: cover;
    }

    .banner-title {
        font-size: 22px;
    }
    .news-pic{
        width: 100%;
    }
    .our-tour-pic{
        width: 100%;
    }
    .left-content{
        width: 100%;
    }
    .subscribe-btn{
        width: 100%;
    }
    .iframe{
        width: 100%;
    }
    .input-area {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }
    .select-location {
        display: flex;
        width: 280px;
        padding: 16px;
        margin: 0 auto;
        flex-direction: column;
        gap: 16px;
    }
    .top-img ,.middle-img ,.last-img{
        gap: 0px;
    }

    /* styles card section */

    .card {
        width: 100%;
    }
    .top-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .item3 {
        position: relative;
        left: 0;
    }

    /* Start a get lost section */

 


    /* start News section */

}
@media  screen and (min-width:600px) and  (max-width:920px) {
    body{
        background-color: red;
    }
}